# Файлик кланга для подсветки ошибок и варнингов
CompileFlags:
  Add:
    # Флаг стандарта из задания
    - "-std=c++17"
    # Варнинги
    - "-Wall"
    - "-Wextra"
    - "-Wpedantic"

    # Пути
    - "-I./lib"
    - "-I./app"
